[Software\BigFix\EnterpriseClient]
EnterpriseClientFolder = /opt/BESClient

[Software\BigFix\EnterpriseClient\GlobalOptions]
StoragePath = /var/opt/BESClient
LibPath = /opt/BESClient/BESLib

[Software\BigFix\EnterpriseClient\Settings\Client\__RelayServer1]
value = http://ptrs.lntinfotech.com:52311/bfmirror/downloads/

[Software\BigFix\EnterpriseClient\Settings\Client\__RelaySelect_Automatic]
value = 0

[Software\BigFix\EnterpriseClient\Settings\Client\BESClient_Comm_CommandPollEnable]
value = 1

[Software\BigFix\EnterpriseClient\Settings\Client\BESClient_Comm_CommandPollIntervalSeconds]
value = 3600